project_root: "/opt/xray"
compose_project_directory: "{{ project_root }}/compose"
xray_config_dir: "{{ project_root }}/xray"
xray_config_file: "config.json"
xray_compose_file: "{{ compose_project_directory }}/docker-compose.yml"

xray_deploy_wait_seconds: 60
xray_deploy_recovery_wait_seconds: 30
xray_deploy_log_tail_lines: 300
