version: "3.9"
services:
  xray:
    image: "{{ xray_image }}"
    container_name: "{{ xray_container_name }}"
    restart: unless-stopped
    {% if xray_container_user %}
    user: "{{ xray_container_user }}"
    {% endif %}
    volumes:
      - "{{ xray_config_dir }}:/usr/local/etc/xray:ro"
      - "{{ certificates_dir }}:/etc/ssl:ro"
    ports:
      - "{{ xray_inbound_port }}:{{ xray_service_port }}"
